	body{
		background-color: #031d53;
		color: white;
	}
	h1{
		padding-top: 100px 0px 0px 0px;
	}
	form{
		background-color: #3183c5;
		width: 750px;
		padding: 20px;
		border-radius: 20px;
	}
	.input{
		padding: 5px;
		width: 100%;
		border-radius: 5px;
		border: none;
	}
	label{
		margin: 10px;
	}
	.btn{
		padding: 10px 20px 10px 20px;
		background-color: #d92020;
		color: white;
		border: none;
		border-radius: 5px;
		margin: 10px
		transition: 1s;
	}
	.btn:hover{
		background-color: #7b1a1a;
		transition: 0.3s;
	}
	td{
		padding: 10px
	}